@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <nav class="bottom-nav">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span>
            <span class="nav-text">홈</span>
        </NavLink>
        <NavLink class="nav-link" href="weather">
            <span class="oi oi-list-rich" aria-hidden="true"></span>
            <span class="nav-text">날씨</span>
        </NavLink>
        <NavLink class="nav-link" href="offlinememo">
            <span class="oi oi-pencil" aria-hidden="true"></span>
            <span class="nav-text">메모</span>
        </NavLink>
    </nav>
</div>